[submodule "src/pvx"]
	path = src/pvx
	url = https://codeberg.org/totallynotaburner/pvx.git
[submodule "src/anyascii"]
	path = src/anyascii
	url = https://github.com/anyascii/anyascii.git
	shallow = true
